

.background-image {
    width: 100%;
    height: 100vh;
    background-color: #0000007a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/videos/logo-main.mp4') no-repeat center center;
    background-size: cover;
    z-index: -1;
    background-blend-mode: color;
    background-color: #00000080;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

video {
  
    background-blend-mode: color;
    background-color: #00000080;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


.login-container {
    position: absolute;
    z-index: 1;
    margin: 100px auto;
    padding: 50px;
    background: #1449c3e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    overflow-y: auto;
    max-height: 550px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: -4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

h2 {
    color: #fff;
    letter-spacing: 3px;
}



.input-control {
    width: 100%;
    height: 33px;
    border-radius: .5em;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    padding-left: .5em;
    padding-right: .5em;
}

.input-control-btn {
    height: 31px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .5em;
    color: #fff;
}



.input-control::placeholder {
    color: #fff;
    /* padding-left: em; */
}

.btn {
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.form-group {
    position: relative;
    width: 100%;
    display: flex;
    margin:0;
}


label {
    position: absolute;
    margin-left: 0.5em;
    margin-top: 5px;
    color: #fff;
    font-size: 0.89em;
    cursor: text;
    transition: 0.3s ease-in-out;
    padding-left: .6em;
    padding-right: .6em;
    animation: .5s all ease-in-out;
}

.email-label {
    margin-top: 5px;
}

input.email:focus ~ label {
    margin-top: -.7em;
    background-color: #1E90FF;
    font-size: .75em;
    animation: .5s all ease-in-out;
}

input.email:not(:placeholder-shown) ~ label {
    margin-top: -.8em;
    background-color: #1E90FF;
    font-size: .75em;
    padding-left: .6em;
    padding-right: .6em;
    animation: .5s all ease-in-out;
}

input.password {
    margin-top: 1px;
}

input.password ~ label {
    margin-top: 5px;
    animation: .5s all ease-in-out;
}

input.password:focus ~ label {
    margin-top: -.7em;
    background-color: #1E90FF;
    font-size: .75em;
    animation: .5s all ease-in-out;
}

input.password:not(:placeholder-shown) ~ label {
    margin-top: -.8em;
    background-color: #1E90FF;
    font-size: .75em;
    padding-left: .6em;
    padding-right: .6em;
    animation: .5s all ease-in-out;
}


/* input.email:focus ~ label,
input.email:not(:placeholder-shown):focus ~ label {
  margin-top: -18px; 
  font-size: 0.75em;
}

input.password:focus ~ label,
input.password:not(:placeholder-shown):focus ~ label {
  margin-top: -18px; 
  font-size: 0.75em;
}

input.email:focus,
input.password:focus {
  border-color: #00aaff;
} */


input[type="submit"] {
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: .5em;
    height: 34px;
    width: 102%;
    cursor: pointer;
    margin-top: 2em;
    letter-spacing: .1em;
}

input[type="submit"]:hover {
    opacity: 85%;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.footer .text-footer {
    color: #ffffff;
    font-size: .89em;
}

.container-separate {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8em;
}


.input-container a {
    color: #fff;
    text-decoration: underline; 
    margin-top: 1em;
    cursor: pointer;
}

.input-container a:hover {
    color: #fff;
    text-decoration: underline;
    opacity: 85%;
}

span {
    color: #fff;
}

.container-organize-registre {
    margin-top: 1em;
}

.slug  {
    width: 372px;
    text-align: center;
    font-size: .89em;
    font-style: italic;
}

.forgot-password {
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}
